body{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#root,
.App,
.canvas-wrap{
    width: 100%;
    height: 100%;
}

.canvas-wrap{
    display: flex;
}

canvas{
    width: 100%;
    margin: auto;
}