body{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#root,
.App{
    width: 100%;
    height: 100%;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas-wrap{
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
}

.canvas-wrap::after{
    content: "";
    display: block;
    clear: both;
}

canvas{
    width: 100%;
    margin: auto;
}

.background {
    position:absolute;
    z-index: 1;
}

.character{
    z-index: 2;
}